.container {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  color: #fff;
  font-size: 1rem;
}
.container a {
  color: #dede44;
}
.container a:hover {
  color: #dede22;
}
.container canvas {
  image-rendering: auto;
}
.container button {
  appearance: none;
  padding: 0.5rem;
  border: 0;
  background: #fff;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.container .hidden {
  opacity: 0;
}
.container .actions,
.container .controls {
  transition: opacity 0.3s ease, background-color 0.3s ease;
  opacity: 0.2;
  position: fixed;
  background-color: transparent;
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.container .actions:hover,
.container .controls:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.container .actions {
  bottom: 0;
  text-align: center;
  flex-direction: column;
}
.container .actions p {
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: 0.8rem;
}
.container .actions p:last-child {
  margin-bottom: 0;
}
.container .controls {
  top: 0;
  flex-direction: row;
}
.container .controls__title {
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
}
.container .controls__title small {
  font-size: 0.8rem;
}
.container .control {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0.5rem;
  width: auto;
}
.container .control__label {
  margin-bottom: 0.2rem;
  width: 100%;
}
.container .control__input {
  width: 100%;
  cursor: pointer;
  margin: 0;
}
.container .control__value {
  font-weight: bold;
}
