---
export interface Props {
  dark: boolean;
}

const { dark } = Astro.props;
---

<div class:list={['TPage', { '-dark': dark }]}>
  <slot name="header"/>
  <main>
    <slot/>
  </main>
  <slot name="footer"/>
</div>

<style lang="scss">
  @use "../../variables" as *;

  .TPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .-dark {
    background-color: var(--color-black);
  }

  main {
    align-items: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: var(--bp-desktop);
    gap: var(--spacer-lg);
    padding: 4rem 1rem;
    width: 100%;

    @include desktop {
      padding: 4rem 0;
    }

    @media print {
      padding: var(--spacer-lg);
    }
  }
</style>