---
import '../root.scss'
import '@fontsource/ubuntu/latin-400.css'
import '@fontsource/ubuntu/latin-700.css'
import TPage from '../components/templates/TPage.astro'
import OLineCanvasForm from '../components/organisms/OLineCanvasForm.astro'
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <link
    rel="icon"
    href="/favicon.ico"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>Astro</title>
</head>
<body>
<TPage>
  <h1>Generative Lines</h1>

  <p>Beautiful lightweight animations, usable as loading throbbers or scroll-in animations.</p>

  <OLineCanvasForm>
    <lines-canvas
      class="demo"
      autoplay="false"
    />

    <button id="download-button">Download</button>
  </OLineCanvasForm>
</TPage>

<script>
  import { LinesCanvas } from '../lib/lines-canvas.ts'
  import { download } from '../lib/utils/file.ts'

  customElements.define('lines-canvas', LinesCanvas)

  const downloadButton = document.querySelector<HTMLButtonElement>('#download-button')
  const linesCanvas = document.querySelector<LinesCanvas>('lines-canvas')
  if (!linesCanvas) {
    throw new Error('LinesCanvas element not found')
  }

  const form = document.querySelector<HTMLFormElement>('form')
  if (!form) {
    throw new Error('Form element not found')
  }

  const data = new FormData(form)
  linesCanvas.startBatchUpdate()
  for(const [key, value] of data.entries()) {
    linesCanvas.setAttribute(key, value.toString())
  }
  linesCanvas.endBatchUpdate()

  linesCanvas.renderer.animateLoop()

  if (!downloadButton) {
    throw new Error('Download button or lines canvas not found')
  }

  downloadButton.addEventListener('click', () => {
    download(linesCanvas.renderer.config, linesCanvas.canvas)
  })
</script>

<style>
  .demo {
    display: block;
    width: 100%;
    aspect-ratio: 1;
  }
</style>
</body>
</html>
