---
import type { FormField } from '../../lib/form.ts'
export interface Props extends FormField {
  class?: string
}

const {
  label,
  name,
  required,
  class: className
} = Astro.props
---

<div class:list={['SFormField', className]}>
  <label for={name}>{label}{required ? '*' : ''}</label>
  <slot/>
</div>

<style lang="scss">
  @use "../../variables" as *;

  .SFormField {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-sm);
  }

  .SFormField:has(input[type=range]) {
    gap: 0;
  }

  label {
    display: block;
    font-size: var(--font-size-base);
    margin: 0;
    text-transform: capitalize;
  }
</style>