---
---

<div class="OLineCanvasForm">
  <form class="OLineCanvasForm__form" id="lines-canvas-form">
    <label for="renderWidth">Render Width:</label>
    <input type="number" id="renderWidth" name="renderWidth"><br><br>

    <label for="renderHeight">Render Height:</label>
    <input type="number" id="renderHeight" name="renderHeight"><br><br>

    <label for="distance">Distance:</label>
    <input type="number" id="distance" name="distance"><br><br>

    <label for="amplitude">Amplitude:</label>
    <input type="number" id="amplitude" name="amplitude"><br><br>

    <label for="thickness">Thickness:</label>
    <input type="number" id="thickness" name="thickness"><br><br>

    <label for="lines">Lines:</label>
    <input type="number" id="lines" name="lines"><br><br>

    <label for="paddingX">Padding X:</label>
    <input type="number" id="paddingX" name="paddingX"><br><br>

    <label for="paddingY">Padding Y:</label>
    <input type="number" id="paddingY" name="paddingY"><br><br>

    <label for="perspective">Perspective:</label>
    <input type="number" id="perspective" name="perspective"><br><br>

    <label for="steps">Steps:</label>
    <input type="number" id="steps" name="steps"><br><br>

    <label for="colors">Colors:</label>
    <input type="number" id="colors" name="colors"><br><br>

    <label for="easing">Easing:</label>
    <input type="text" id="easing" name="easing"><br><br>

    <label for="background">Background:</label>
    <input type="text" id="background" name="background"><br><br>

    <label for="animationDuration">Animation Duration:</label>
    <input type="number" id="animationDuration" name="animationDuration"><br><br>

    <label for="animationEasing">Animation Easing:</label>
    <input type="text" id="animationEasing" name="animationEasing"><br><br>

    <label for="autoplay">Autoplay:</label>
    <select id="autoplay" name="autoplay">
      <option value="true">True</option>
      <option value="false">False</option>
      <option value="loop">Loop</option>
    </select><br><br>

    <button type="submit">Update Lines Canvas</button>
  </form>

  <div class="OLineCanvasForm__preview">
    <slot/>
  </div>
</div>

<script lang="ts">
  const form = document.getElementById<HTMLFormElement>('lines-canvas-form')
  const linesCanvasElement = form.getElementsByTagName('lines-canvas')[0]
  if (!form) {
    throw new Error('Could not get form')
  }

  if (!linesCanvasElement){
    throw new Error('Could not get lines-canvas element')
  }

  form.addEventListener('submit', function (event) {
    event.preventDefault()

    const formData = new FormData(form)
    const linesCanvasAttributes = {}

    for (let pair of formData.entries()) {
      linesCanvasAttributes[pair[0]] = pair[1]
    }

    Object.assign(linesCanvasElement, linesCanvasAttributes)
  })
</script>

<style lang="scss">
  .OLineCanvasForm {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-lg);
    width: 100%;

    &__form {
      display: flex;
      flex-direction: column;
      gap: var(--spacer-md);
      width: 30%;
    }

    &__preview {
      width: 70%;
      height: 100%;
    }
  }
</style>