<nav class="ONavBar">
  <a href="/">
    <img
      alt="barthy.koeln stylized logo in typical dark theme coding environment colors"
      class="ONavBar__logo"
      height="33px"
      loading="eager"
      src="/images/gen-lines_logo.svg"
      title="barthy.koeln | Software Engineering"
      width="256px"
    >
  </a>
</nav>

<style lang="scss">
  @use "../../variables" as *;

  .ONavBar {
    align-items: center;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;

    @include desktop {
      flex-direction: row;
    }

    @media print {
      display: none;
    }

    &__logo {
      max-width: 50vw;
    }
  }
</style>