@use "sass:map";

$breakpoints: (
        desktop: 1024px
);

@mixin above($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

@mixin desktop {
  @media print {
    @content;
  }

  @include above("desktop") {
    @content;
  }
}
