*,
*::before,
*::after {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-family: var(--font-sans), system-ui, sans-serif;
  scroll-behavior: smooth;
  scroll-padding: var(--spacer-lg);
}

body {
  background: var(--color-background);
  font-size: var(--fontsize-4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-rendering: optimizelegibility;
}

@page {
  margin: 0;
  size: a4;
}


h1 {
  font-size: var(--fontsize-1);
}

h2 {
  font-size: var(--fontsize-2);
}

h3,
h4,
h5,
h6 {
  font-size: var(--fontsize-3);
}

p {
  line-height: 1.4;
  max-width: 84ch;
}

hr {
  background: currentcolor;
  height: 1px;
  opacity: 0.5;
  width: 100%;
}

blockquote {
  border-left: 2px solid var(--color-accent);
  font-style: italic;
  max-width: 512px;
  padding-block: var(--spacer-sm);
  padding-inline-start: var(--spacer-md);
}

mark {
  background-color: var(--color-light);
  color: var(--color-black);
  padding: 0.2em;
}

i {
  color: var(--color-accent);
  font-style: normal;
}

a {
  color: var(--color-light);
  cursor: url("/icons/hand-pointer-duotone.svg") 16 4, pointer;
  text-underline-offset: 3px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }

  &[target="_blank"] {
    cursor: url("/icons/external-link-square-duotone.svg") 16 16, pointer;
  }
}

ul {
  padding-inline-start: var(--spacer-lg);

  li {
    padding-block: var(--spacer-xs);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--anim-duration) var(--anim-easing);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
