@use "variables" as *;

:root {
  --color-white: #dedede;
  --color-black: #181818;
  --color-background: #333;
  --color-full: #cc7832;
  --color-light: #eab868;
  --color-accent: #CCBDD6;
  --color-accent-dark: #543B5E;
  --anim-duration: 0.35s;
  --anim-easing: cubic-bezier(0.25, 0.87, 0.58, 1);
  --spacer-xs: 0.2rem;
  --spacer-sm: 0.5rem;
  --spacer: 1rem;
  --spacer-md: 1.5rem;
  --spacer-lg: 2rem;
  --spacer-xl: 5rem;
  --radius: 0.313rem;
  --fontsize-1: 1.8rem;
  --fontsize-2: 1.5rem;
  --fontsize-3: 1.2rem;
  --fontsize-4: 1rem;

  @each $name, $value in $breakpoints {
    --bp-#{$name}: #{$value};
  }

  --font-sans: ubuntu;
}

@media print {
  :root {
    --fontsize-1: 18pt;
    --fontsize-2: 15pt;
    --fontsize-3: 12pt;
    --fontsize-4: 10pt;
    --spacer: 10pt;
    --spacer-md: 12pt;
    --spacer-lg: 18pt;
    --spacer-xl: 26pt;
  }
}

@media (prefers-reduced-motion) {
  :root {
    --anim-duration: 0;
  }
}

