---
import '../root.scss'
import '../docs.scss'
import '@fontsource/ubuntu/latin-400.css'
import '@fontsource/ubuntu/latin-700.css'
import '@fontsource-variable/red-hat-mono'
import TPage from '../components/templates/TPage.astro'
import ONavBar from '../components/organisms/ONavBar.astro'
import OFooter from '../components/organisms/OFooter.astro'

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />

  <meta name="description" content={description} />

  <title>{title}</title>
</head>
<body>
<TPage center={false}>
  <ONavBar slot="header"/>

  <slot/>

  <OFooter slot="footer"/>
</TPage>
</body>