---
import '../root.scss'
import '@fontsource/ubuntu/latin-400.css'
import '@fontsource/ubuntu/latin-700.css'
import TPage from '../components/templates/TPage.astro'
import ONavBar from '../components/organisms/ONavBar.astro'
import OFooter from '../components/organisms/OFooter.astro'

export interface Props {
  dark?: boolean
}

const { dark = false } = Astro.props
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>Astro</title>
</head>
<body>
<TPage dark={dark}>
  <ONavBar slot="header"/>

  <slot/>

  <OFooter slot="footer"/>
</TPage>
</body>